body {
    counter-reset: section;

}
.gallery {
    position: relative;
    background-color: #fff;
padding: 3.438rem 2.313rem;
}
.gallery:after {
    content: "\f106";
    font-family: "FontAwesome";
    color: #fff;
    display: block;
    position: absolute;
    text-align: center;
    line-height: 2rem;
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    background-color: #38afe5;
    left: 90%;
}
.h-header {
    font-family: ﻿PathwayGothicOne-Book, ﻿AdobeInvisFont, ﻿Courier,sans-serif;
    font-size: 20.83333pt;
    color: rgba(38, 53, 85, 255);
    text-align: left;
    margin-bottom:2.188rem ;
}
.h-gallery-item {
    font-family: ﻿ArialMT, ﻿AdobeInvisFont, ﻿Courier,sans-serif;
    font-size: 1rem;
    color: rgba(38, 53, 85, 255);
    text-align: left;
    margin : 1.875rem 0 1.25rem 0;
}
.p-gallery-item {
    font-family: ﻿ArialMT, ﻿AdobeInvisFont, ﻿Courier,sans-serif;
    font-size: 0.75rem;
    color: rgba(78, 80, 80, 255);
    text-align: left;
    padding-bottom: 3.125rem;
}
/*  maine   */
.article {
    background-color: #fff;
    padding-bottom: 3.125rem;
}
.h-item {
    position: relative;
    font-family: ﻿ArialMT, ﻿AdobeInvisFont, ﻿Courier,Pathway,sans-serif;
    font-size: 1rem;
    color: rgba(38, 53, 85, 255);
    text-align: left;
    padding-bottom: 1.25rem;
    text-indent: 30px;
}
.text {
    font-family: ﻿KaushanScript-Regular, ﻿ArialMT, ﻿AdobeInvisFont, ﻿Courier,sans-serif;
    font-size: 0.75rem;
    color: rgba(78, 80, 80, 255);
    text-align: left;
    padding-bottom: 1.25rem;
    margin-left: 2rem;
}
.list-article-item {
    position: relative;
}
.list-article-item:before {
    list-style: none;
    counter-increment: section;
    content: counter(section);
    color: white;
    text-align: center;
    line-height: 2rem;
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-color: #38afe5;
    border-radius: 2rem;
    left: -1rem;
    top: -0.5rem;
}
.border {
    border: 1px solid #dedbdb;
    margin-bottom: 2rem;
}
/*  end   */
.h-item2 {
    font-family: ﻿PathwayGothicOne-Book, ﻿AdobeInvisFont, ﻿Courier,sans-serif;
    font-size: 20.83333pt;
    color: rgba(38, 53, 85, 255);
    text-align: left;
    margin-bottom: 1.563rem;
}
.h-item-list {
    font-family: ﻿ArialMT, ﻿AdobeInvisFont, ﻿Courier,sans-serif;
    font-size: 0.9rem;
    color: rgba(38, 53, 85, 255);
    text-align: left;
    margin-bottom: 1.25rem;
}
/*   end*/
.p-end {
    font-family: ﻿KaushanScript-Regular, ﻿ArialMT, ﻿AdobeInvisFont, ﻿Courier,sans-serif;
    font-size: 0.5rem;
    color: rgba(78, 80, 80, 255);
    text-align: left;
    margin-bottom: 1.25rem;
}
.list {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;

}
.ul-list {
    list-style-image: url("../image_about/strela.png");
    margin-left: 1.34rem;
}
.li-list {
    font-family: ﻿KaushanScript-Regular, ﻿ArialMT, ﻿AdobeInvisFont, ﻿Courier,sans-serif;
    font-size: 0.85rem;
    color: rgba(38, 53, 85, 255);
    text-align: left;
    margin-bottom: 1.25rem;
}
/*  contact */

.h-contact1 {
    text-transform: uppercase;
    font-family: ﻿PathwayGothicOne-Book, ﻿AdobeInvisFont, ﻿Courier,sans-serif;
    font-size: 1.25rem;
    color: rgba(38, 53, 85, 255);
    text-align: left;
    margin-bottom: 1.875rem;
       }
.logo-contact{
    position: relative ;
    width: 16.25rem;
    height: 8.125rem;
    padding: 0.75rem 0.9375rem  0.75rem 0.875rem;
    background-color: #fcfafa;
    border: 1px solid #e0dddd;
    margin: auto;
    margin-bottom: 2.5rem;
    z-index: 2;

}
.logo-contact:after {
    content: '';
    position: absolute;
    display: block;
    width: 2.188rem;
    height: 2.188rem;
    background-color: #fcfafa;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #cbcaca;
    top :110px;
    left: 42%;
    transform: rotate(45deg);
   z-index: -1;
}
.logo-contact-text {
    font-family: ﻿ArialMT, ﻿AdobeInvisFont, ﻿Courier,sans-serif;
    font-size: 0.86rem;
    color: rgba(38, 53, 85, 255);
    text-align: center;
}
.h4-contact {
    font-family: ﻿KaushanScript-Regular, ﻿ArialMT, ﻿AdobeInvisFont, ﻿Courier,sans-serif;
    font-size: 11.66667pt;
    color: rgba(38, 53, 85, 255);
    text-align: center;
    margin-bottom: 1.5rem;
}
.p-contact2 {
    font-family: ﻿KaushanScript-Regular, ﻿ArialMT, ﻿AdobeInvisFont, ﻿Courier,sans-serif;
    font-size: 0.2875rem;
    color: rgba(78, 80, 80, 255);
        text-align: center;
}
@media (min-width: 768px) {
    .clearfix {
         content: '';
        display: table;
        clear: both;
    }
    .gallery-item {
        display: inline-block;

    }
    .picture {
        float: left;
        margin: 0 1.563rem 1.563rem 0;
    }
    .p-gallery-item {
        font-family: ﻿ArialMT, ﻿AdobeInvisFont, ﻿Courier,sans-serif;
        font-size: 1.4rem;
        color: rgba(78, 80, 80, 255);
        text-align: left;
        padding-bottom: 3.125rem;
        margin-bottom: 2rem;

    }
    .h-gallery-item {
        font-family: ﻿ArialMT, ﻿AdobeInvisFont, ﻿Courier,sans-serif;
        font-size: 1.4rem;
        color: rgba(38, 53, 85, 255);
        text-align: left;
        margin : 1.875rem 0 1.25rem 0;

    }
    .list-article {
        display: flex;
        margin-bottom: 3.125rem;
    }
    .end    {
        display: flex;
    }
    .contact1 {
        flex-basis: 20%;
    }
    .logo-contact-text {
        font-size: 0.96rem;
    }
    .logo-contact {
        width: 11.25rem;
        height: 15.125rem;
        margin-left: 2rem;
        margin-bottom: 9.688rem;
    }
    .logo-contact:after {
        top: 93%;
    }
    .border {
        margin-bottom: 2rem;
    }
}
@media (min-width: 1024px) {
    .gallary-main {
        display: flex;
    }
    .list-article {
        flex-direction: column;
    }
    .gallery-item {
        flex-basis: 75%;
        }
.article {
    flex-basis: 25%;
    margin-left: 30px;
    padding-bottom: 0;
}
    .gallery:after {
    left: 95%;
}
    .h-gallery-item {
        font-size: 0.9rem;
    }
    .p-gallery-item {
        font-size: 0.9rem;
    }
    .border {
        margin-bottom: 2rem;
    }
    .logo-contact {
        width: 12.5rem;
        height: 12.5rem;
    }
    .logo-contact:after {
        top: 91%;
    }
    .h-contact1 {
        margin-left: 1.8rem;
    }
}